<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodShare | Cause</title>
    <link rel="stylesheet" href="/stylesheets/cause.css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main min-h-screen w-full bg-slate-300">
        <div class="nav">
            <nav class="flex p-10">
                <ul>
                    <a href="/"><li class="text-white text-xl font-semibold"><span class="text-2xl font-semibold text-[#FFBF00]">F</span>ood<span class="text-2xl font-semibold text-[#FFBF00]">S</span>hare</li></a>
                </ul>
                <ul class="text-white flex items-center">
                    <a href="/"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Home</li></a>
                    <a href="/cause"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Cause</li></a>
                    <a href="/mission"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Out Mission</li></a>
                    <a href="/contact"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Contacts</li></a>
                    <a href="/signup"><li class="px-4 py-2 bg-indigo-500 rounded-xl hover:bg-fuchsia-500">Sign Up Now!</li></a>
                </ul>
            </nav>
        </div>
        <div class="sides flex flex-row">
            <div class="content min-h-screen bg-slate-300 p-10 w-1/2">
                <h1 class="heading text-5xl font-semibold">Causes of Hunger⟷</h1>
                <h2 class="text-3xl font-medium">Poverty & Inequality⟷<span class="text-2xl font-light">Despite being a major food producer, ~190 million Indians remain undernourished</span></h2>
                    <br>
                    <br>
                    <h2 class="text-3xl font-medium">Malnutrition in Children⟷<span class="text-2xl font-light">35% of children under 5 are stunted due to poor diets.</span></h2>
                    <br>
                    <br>
                    <h2 class="text-3xl font-medium">Infrastructure Gap⟷<span class="text-2xl font-light"> Weak cold storage and transport systems prevent food from reaching rural areas.</span></h2>
                    <br>
                    <br>
                    <h2 class="text-3xl font-medium">Unemployment and Low Wages⟷<span class="text-2xl font-light">Millions cannot aƯord balanced meals despite availability.</span></h2>
                    <br>
                    <br>
                    <h2 class="text-3xl font-medium">Policy & Distribution Challenges⟷<span class="text-2xl font-light">Public Distribution System (PDS) often faces leakages and ineƯiciency.</span></h2>
                    <br>
                    <hr>
                    <br>
                    <h1 class="heading text-5xl font-semibold">Causes of Food Wastage⟷</h1>
                    <br>
                    <br>
                    <h2 class="text-3xl font-medium">Post-Harvest Losses⟷<span class="text-2xl font-light">~20% of foodgrain output wasted due to poor storage and transport.</span></h2>
                    <br>
                    <br>
                    <h2 class="text-3xl font-medium">Restaurant & Event Surplus⟷<span class="text-2xl font-light"> Over-ordering and lack of awareness about food waste.</span></h2>
                    <br>
                    <br>
                    <h2 class="text-3xl font-medium">Supply Chain Inefficiency⟷<span class="text-2xl font-light">India lacks suƯicient cold chain facilities — only ~10% of perishable produce is stored properly.</span></h2>
                    <br>
                    <br>
                    <h2 class="text-3xl font-medium">Cultural Practices⟷<span class="text-2xl font-light">IWeddings and festivals often generate massive food waste.</span></h2>
                    <br>
                    <br>
                
            </div>
            <div class="image min-h-screen w-1/2 bg-[url(/images/foodWaste.jpg)] bg-cover"></div>
        </div>
    </div>
</body>
</html>