<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodShare | Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main  w-full min-h-screen bg-cover bg-[url(/images/homeBG.png)] ">
        <div class="nav">
            <nav class="flex p-10">
                <ul>
                    <a href="/"><li class="text-white text-xl font-semibold"><span class="text-2xl font-semibold text-[#FFBF00]">F</span>ood<span class="text-2xl font-semibold text-[#FFBF00]">S</span>hare</li></a>
                </ul>
                <ul class="text-white flex items-center">
                    <a href="/"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Home</li></a>
                    <a href="/cause"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Cause</li></a>
                    <a href="/mission"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Out Mission</li></a>
                    <a href="/contact"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Contacts</li></a>
                    <a href="/signup"><li class="btn text-lg px-4 py-2 bg-indigo-500 rounded-xl hover:bg-fuchsia-500">Sign Up Now!</li></a>
                </ul>
            </nav>
        </div>
        <div class="quote py-50 p-30">
            <h1 class="text-5xl text-white font-semibold first_head m-3">Help them, to Save Lifes and Food!</h1>
            <h2 class="text-6xl text-white font-semibold first_head m-3">Tackeling India's Biggest Irony About food..</h2>
            <a href="/signup" class="px-4 py-2 bg-yellow-400 text-xl rounded-xl font-semibold mx-5">Sign In Now</a>
            <a href="" class="px-4 py-2 bg-yellow-400 text-xl rounded-xl font-semibold mx-5">Discover More</a>
        </div>
    </div>
</body>
</html>