<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodShare | Our Mission</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main min-h-screen w-full bg-slate-300">
        <div class="nav">
            <nav class="flex p-10">
                <ul>
                    <a href="/"><li class="text-white text-xl font-semibold"><span class="text-2xl font-semibold text-[#FFBF00]">F</span>ood<span class="text-2xl font-semibold text-[#FFBF00]">S</span>hare</li></a>
                </ul>
                <ul class="text-white flex items-center">
                    <a href="/"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Home</li></a>
                    <a href="/cause"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Cause</li></a>
                    <a href="/mission"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Out Mission</li></a>
                    <a href="/contact"><li class="px-8 mx-5 font-sans font-semibold hover:underline">Contacts</li></a>
                    <a href="/signup"><li class="px-4 py-2 bg-indigo-500 rounded-xl hover:bg-fuchsia-500">Sign Up Now!</li></a>
                </ul>
            </nav>
        </div>
        <div class="sides min-h-screen w-full flex flex-row">

            <div class="content min-h-screen w-1/2 bg-slate-300  p-10">
                <h1 class="text-6xl font-semibold">Our Mission⟷</h1>
                <h2 class="text-4xl font-medium">Our mission is to end hunger by transforming food waste into food aid using technology, compassion, and community</h2>
                <br>
                <br>
                <h2 class="text-4xl font-medium">We aim to⟷</h2>
                <br><br>
                <h2 class="text-3xl font-light">➜ Build a hyperlocal network of food donors and receivers</h2>
                <br><br>
                <h2 class="text-3xl font-light">➜Use real-time geolocation to match surplus food with nearby need</h2>
                <br><br>
                <h2 class="text-3xl font-light">➜Promote food safety, transparency, and accountability in donations</h2>
                <br><br>
                <h2 class="text-3xl font-light">➜Create a scalable model that can expand across cities and states</h2>
                <br><br>
                <h2 class="text-3xl font-light">➜Inspire citizens, businesses, and NGOs to collaborate for impact</h2>
                <br><br>
                <h2 class="text-4xl font-medium">We believe that no food should be wasted, and no person should go hungry. Every plate shared is a life touched.</h2>
            </div>
            <div class="image min-h-screen w-1/2 bg-[url(/images/ourMission.jpg)] bg-cover"></div>

        </div>
    </div>
</body>
</html>